.spell-icon-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.spell-icon {
  border-radius: 3px;
  vertical-align: middle;
  flex-shrink: 0;

  &.size-small { width: 18px; height: 18px; }
  &.size-medium { width: 36px; height: 36px; }
}
